<svelte:head>
	<title>I Generated Over 1000 AI Images For My Track Cover | Zed Kaido</title>
</svelte:head>

<a href="/blog">-> view all posts</a>
<div class="gap" />
<h2>I Generated Over 1000 AI Images For My Track Cover</h2>

<a href="/music/can-can-offenbach-is-in-the-house">
	Listen to the track: "Can Can: Offenbach is In The House"
</a>

<div class="gap" />

<a
	href="https://opensea.io/assets/ethereum/0x495f947276749ce646f68ac8c248420045cb7b5e/44177651947870372643918442202313262982841847278503558282328139882283151654913/"
	target="_blank"
	>BUY full size NFT 🔥 (6400x6400)
</a>

<div class="gap" />

<img
	src="/images/blog/i-generated-over-1000-ai-images/thumbnail.webp"
	alt="A Mosaic of 1024 AI generated track covers"
/>

<style>
	img {
		width: 69%;
	}
</style>
