<a href="/blog">-> view all posts</a>
<div class="gap" />
<div class="content">
	<slot />
</div>

<style>
	.content {
		max-width: var(--size-8xl);
		font-weight: var(--font-text-weight);
		/* text-align: justify; */
	}
</style>
