@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('JetBrains_Mono_200.woff2') format('woff2'), url('JetBrains_Mono_200.woff') format('woff');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('JetBrains_Mono_400.woff2') format('woff2'), url('JetBrains_Mono_400.woff') format('woff');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('JetBrains_Mono_700.woff2') format('woff2'), url('JetBrains_Mono_700.woff') format('woff');
}
