<svelte:head>
	<title>Zed Kaido: Contact</title>
</svelte:head>

<div class="content">
	<p />
	<h4 class="no-margin">If you wish to DM me:</h4>
	<p class="no-margin">dm [at] zedkaido [dot] com</p>

	<div class="gap" />

	<h4 class="no-margin">If you wish to book me for a show:</h4>
	<p class="no-margin">bookings [at] zedkaido [dot] com</p>

	<div class="gap" />

	<hr />
	<p>
		<a href="bitcoin:bc1qlkcrnqlhphreh3efqd8mpdq9hjp04agcnqhvj5" target="_blank">
			bitcoin:bc1qlkcrnqlhphreh3efqd8mpdq9hjp04agcnqhvj5
		</a>
	</p>
	<hr />
	<p>
		<a
			href="monero:44UgnirYY4cM6yhJYHpqb6HTiPbeyJQmviaQLvuvN6MkJEShpDmBCoe26kWvYhcCTECHGoUrTHYoefNGtpW4G12kQC7x3vY"
			target="_blank"
		>
			monero:44UgnirYY4cM6yhJYHpqb6HTiPbeyJQmviaQLvuvN6MkJEShpDmBCoe26kWvYhcCTECHGoUrTHYoefNGtpW4G12kQC7x3vY
		</a>
	</p>
	<hr />

	<div class="gap" />

	<a href="/license.txt">MFL LICENSE</a> |
	<a href="https://github.com/zedkaido/website">GITHUB</a> |
	<a href="https://gitlab.com/zedkaido/website">GITLAB</a>
</div>

<style>
	.content {
		max-width: var(--size-7xl);
	}

	p {
		font-weight: var(--font-text-weight);
		word-break: break-all;
	}
</style>
