@import url('./normalize.css');
@import url('./stylesheet.css');

:root {
	/* fonts */
	--font-default: -apple-system, system-ui, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: 'JetBrains Mono', 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	/* font-sizes */
	--text-ms: 0.69rem;
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 4rem;

	/* font-weights */
	--font-text-weight: 300;

	/* letter-spacing */
	--tracking-tighter: -0.05em;
	--tracking-tight: -0.025em;
	--tracking-normal: 0;
	--tracking-wide: 0.025em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;

	/* line-height */
	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;

	/* just ref. values */
	--screen-2xs: 342px;
	--screen-xs: 420px;
	--screen-s: 500px;
	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;
	--screen-2xl: 1536px;

	/* size */
	--size-sm: 1.5rem;
	--size: 2rem;
	--size-md: 2.5rem;
	--size-lg: 3.1rem;
	--size-xl: 4.2rem;
	--size-2xl: 6rem;
	--size-3xl: 8rem;
	--size-4xl: 12rem;
	--size-5xl: 16rem;
	--size-6xl: 24rem;
	--size-7xl: 32rem;
	--size-8xl: 42rem;
	--size-9xl: 55rem;
	--size-10xl: 69rem;
	--size-full: 100%;

	/* gaps */
	--gap-none: 0;
	--gap-xs: 0.42rem;
	--gap-sm: 0.6rem;
	--gap: 0.8rem;
	--gap-md: 1rem;
	--gap-lg: 1.5rem;
	--gap-xl: 2rem;
	--gap-2xl: 4rem;
	--gap-3xl: 8rem;

	/* paddings */
	--padding-none: 0;
	--padding-xs: 0.69rem;
	--padding-sm: 0.875rem;
	--padding: 1rem;
	--padding-md: 1.3rem;
	--padding-lg: 2rem;
	--padding-xl: 3rem;

	/* border */
	--border-default: var(--border);
	--border-none: none;
	--border: 1px solid var(--color-border);

	/* border-radius */
	--radius-default: var(--radius-none);
	--radius-none: 0;
	--radius-sm: 0.25rem;
	--radius: 0.5rem;
	--radius-lg: 0.75rem;
	--radius-xl: 1rem;
	--radius-full: 9999px;

	/* content */
	--content-blog: ;
	--content-photography: 60rem;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	scroll-behavior: smooth;
}

div {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: var(--color-2);
	color: var(--color-1);
	/* word-spacing: -0.1rem; */
	font-family: var(--font-mono);
	box-sizing: border-box;
}

input, textarea {
	box-sizing: border-box;
	padding: 1rem 0.8rem;
	border: none;
	background-color: var(--color-2);
	border-radius: var(--radius-sm);
	color: var(--color-1);
}

select {
	background-color: var(--color-2);
	color: var(--color-1);
	border: var(--border-default);
	padding: 0.2rem;
}

blockquote {
	border-left: 0.4rem solid var(--color-1);
	margin: 0;
	padding: var(--padding);
	background-color: var(--color-blockquote-bg);
	color: var(--color-blockquote-fg);
	box-sizing: border-box;
}

pre {
	max-width: 100%;
	background-color: var(--color-code-bg);
	box-sizing: border-box;
	padding: var(--padding);
	overflow-x: auto;
}

code {
	font-family: var(--font-mono);
	color: var(--color-code-fg);
}

hr {
	border: none;
	border-top: 1px solid var(--color-hr);
}

a {
	text-decoration: none;
	color: var(--color-blue);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-gray);
}

button {
	cursor: pointer;
	padding: 1rem 0.8rem;
	border: none;
	border-radius: var(--border-default);
	font-family: var(--font-default);
	font-size: var(--text-base);
	color: var(--color-button-fg);
	background-color: var(--color-button-bg);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.fill {
	width: 100%;
	height: 100%;
}

.fill-w {
	width: 100%;
}

.fill-h {
	height: 100;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

/* ------------- */
/* global classes */
/* ------------- */

.hidden-link {
	text-decoration: none;
	color: var(--color-1);
}

.hidden-link:hover {
	text-decoration: none;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.gap-sm {
	height: var(--gap-sm);
	width: var(--gap-sm);
}

.gap {
	height: var(--gap);
	width: var(--gap);
}

.gap-md {
	height: var(--gap-md);
	width: var(--gap-md);
}

.gap-lg {
	height: var(--gap-lg);
	width: var(--gap-lg);
}

.gap-xl {
	height: var(--gap-xl);
	width: var(--gap-xl);
}

.gap-2xl {
	height: var(--gap-2xl);
	width: var(--gap-2xl);
}

.gap-3xl {
	height: var(--gap-3xl);
	width: var(--gap-3xl);
}


/* ------------- */
/* global @media */
/* ------------- */

@media (min-width: 1420px) {
	body {
		padding: 10%;
	}
}

@media (max-width: 1420px) {
	body {
		padding: 14% 10%;
	}
}

@media (max-width: 1000px) {
	body {
		padding: 20% 10%;
	}
}

@media (max-width: 420px) {
	body {
		padding: 24% 7%;
	}
}
