@media screen and (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--color-1: #101010;
		--color-2: #f1f1f1;
		--color-3: #e5e5e5;

		--color-blue: #2e6b89;
		--color-gray: gray;
		--color-black: black;
		--color-white: white;

		--color-border: #242424;
		--color-hr: darkgray;

		--color-code-bg: var(--color-1);
		--color-code-fg: var(--color-2);

		--color-blockquote-bg: var(--color-3);
		--color-blockquote-fg: var(--color-1);

		--color-button-bg: var(--color-1);
		--color-button-fg: var(--color-2);
	}
	body.dark {
		--color-1: #a1a1a1;
		--color-2: #131313;
		--color-3: #e5e5e5;

		--color-blue: #2e6b89;
		--color-gray: gray;
		--color-black: black;
		--color-white: white;

		--color-border: #555555;
		--color-hr: #555555;

		--color-code-bg: #080808;
		--color-code-fg: var(--color-1);

		--color-blockquote-bg: #080808;
		--color-blockquote-fg: var(--color-1);

		--color-button-bg: var(--color-1);
		--color-button-fg: var(--color-2);
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-1: #a1a1a1;
		--color-2: #131313;
		--color-3: #e5e5e5;

		--color-blue: #2e6b89;
		--color-gray: gray;
		--color-black: black;
		--color-white: white;

		--color-border: #555555;
		--color-hr: #555555;

		--color-code-bg: #080808;
		--color-code-fg: var(--color-1);

		--color-blockquote-bg: #080808;
		--color-blockquote-fg: var(--color-1);

		--color-button-bg: var(--color-1);
		--color-button-fg: var(--color-2);
	}
	body.light {
		--color-1: #101010;
		--color-2: #f1f1f1;
		--color-3: #e5e5e5;

		--color-blue: #2e6b89;
		--color-gray: gray;
		--color-black: black;
		--color-white: white;

		--color-border: #242424;
		--color-hr: darkgray;

		--color-code-bg: var(--color-1);
		--color-code-fg: var(--color-2);

		--color-blockquote-bg: var(--color-3);
		--color-blockquote-fg: var(--color-1);

		--color-button-bg: var(--color-1);
		--color-button-fg: var(--color-2);
	}
}
