<a href="/dj-shows">-> view all shows</a>
<div class="gap" />
<div class="content">
	<slot />
</div>

<style>
	.content {
		max-width: var(--size-8xl);
		font-weight: var(--font-text-weight);
	}
</style>
