<script>
	import PostContent from '../PostContent.svelte';
</script>

<svelte:head>
	<title>I Quit Social Media, Even as an Artist | Zed Kaido</title>
</svelte:head>

<PostContent>
	<h2>I Quit Social Media, Even as an Artist!</h2>

	<p>Yeap, you read it right! I quit social media, even as an artist! Puff! Gone! No more! Why?</p>

	<h3>There Are a Billion Social Media Platforms</h3>
	<p>
		Literally! Let's say you want to promote a new track you just released... Where do you start?
		And, perhaps more importantly, where do you end?
	</p>
	<p>
		You've got:

		<b>
			Instagram, Twitter, Facebook, Threads, Hive, Mastadon, Tumblr, SoundCloud, YouTube, Twitch,
			Mixcloud, TikTok, Audius, Reddit...
		</b>
	</p>
	<p>
		But okay, okay, let's say you allocate some hours for curating your post in all formats and
		sizes. You write a plausible description for each social media platform in order to please every
		algorithm according to its needs. Think of appropriate hashtags, platform by platform. And,
		finally post them at the peek usage times, app by app. It's cumbersome, but certainly
		manageable. It will take some work to get it right, but eventually you will get the hang of it.
		At least, it should bring some engagement - you would think... Well, think again, because it
		doesn't work that way...
	</p>
	<p>
		You don't just get views out of nowhere, at least not anymore, it used to be that you would just
		get shown to the general population of users when you post, but not anymore, <span
			class="medium-font">nowadays posting is not enough</span
		> - you gotta please certain trends! It's no longer about the art. You can have the Picasso of art,
		but if Picasso is not trending: You won't get noticed! You won't get any views! You won't get any
		likes! You won't get any followers! And, don't even think about leads!
	</p>
	<p>
		But okay, let's say you are an outcast and don't care about trends, you only care about art,
		your focus is on posting quality content! Well, in that case, be prepared to give your life away
		to these social media platforms, because you will need to engage, a lot! Like really a lot, on
		each and every single platform and with particularly selected individuals that meet a certain
		criteria based on your art, daily btw! Now, I know what you're thinking, how the fuck is one
		supposed to do that?
	</p>

	<h3>Time Sucking Grind Machine - Full Time Job to Manage</h3>
	<p>
		Let's take a look at Instagram: If you post on Instagram you will probably get 10 likes at most
		from people who are looking at the hashtags section, and their likes don't come for free you
		gotta like their posts back or otherwise they won't follow you, it's a like for like, a follow
		for follow, a comment for comment game.
	</p>
	<p>
		Even so, let's say you tried to game the system and bought 1500 fake likes and you're now on top
		of that hashtags section - well it doesn't even matter because hashtags are kind of useless, the
		only people visiting them are other losers trying to play the <b>#like4like</b>
		game and scammers, oh yeah - a bunch of scammers, so called <i>"social media promoters"</i> -
		whose job is to lure people into believing that they can bring <i>"organic"</i> likes and follows
		- Most likely, what ends up happening is that they buy fake likes and follows over time - likes don't
		mean anything nowadays, you can literally buy them for pennies!
	</p>
	<p>
		But, you say, how about the people that follow you? Surelly they will notice your posts! Well,
		you've got to engage with them or else they will forget you among the sea of other people they
		follow. You have to engage, you have to be proactive and catch their attention by liking all of
		their posts. And then, you have to repeat that for every single follower - that means you have
		to spend entire days in the feed liking other people's content, commenting emotions you don't
		feel, liking things you don't care about, DMing people you are not interested in...
	</p>
	<p>
		Why would you play this game? To get a like back from a stranger who probably liked your post
		without even looking at it? Ohhh, but wait you thought that was it? Noo noo no, on top of all
		that, you have to post and engage with <b>Reels, Daily Stories, Live Streams</b>, and fuck knows
		what! New features get added every single day! And, that's for each app out there. It's a
		fucking full time job and I ain't conforming.
	</p>

	<p>
		No wonder, there are people who's job is to literally manage social media accounts... I can't
		afford one, but even if I could, I am not sure I would trust anyone to represent me according to
		the latest trends and allow them to engage in a fake way in exchange of likes and follows even
		if it generated potential leads. Besides, I wouldn't want to put anyone through the torture of
		sucking on these platforms tits for 8 hours a day - that's just a ridiculous way to earn a
		living.
	</p>

	<h3>Either Stay Up-to-Date with "The Trends" and "Bubbles" or Pay Us!</h3>

	<p>
		Each and every single platform has its own algorithm, its own trends and bubbles - and you've
		got to know about them, follow them, and most importantly conform to them, everybody is looking
		at the same content within their bubbles, and they are morphing daily so you can't miss out, or
		else you will be <i>"out-of-date"</i>, these bubbles evolve hour by hour, post by post. No
		wonder we get a society split into groups of people each believing their own nonsense.
	</p>

	<p>
		Your other option is to pay the social media companies to advertise your posts... and, let me
		tell ya: <b>it ain't cheap!</b> Plus, nobody likes advertisements! Sooo, guess what? It doesn't even
		work! The return on investment you generate from them are so meager that you seriously question if
		you are actually being scammed by these giant corporations!? If you wanna see that ROI increase,
		get ready to empty your wallet!
	</p>

	<p>
		And thus, realistically, if you want to grow your presence, if you want people to find and
		discover your art, you've got to give your whole life and soul away to these social media
		platforms, spending entire lifetimes doing exactly what these apps want you to - stay in the
		platform, as long as humanelly possible! They are professional life butters, there's nobody
		better at cramming poisonous content down people's throats and having people beg for more with
		each cram! You get poison, they get trillions, what a fucking dystopia!
	</p>

	<h3>The More Time You Spend, The More You Are Hypnotized</h3>
	<p>
		With each cramming, with each like and subsequent dopamine hit, you are slowly becoming a lab
		animal and you are subject to constant behaviour modification! I am certain you've seen enough
		documentaries about how these social media platforms control you - yet you still fall victim to
		their methods! How come?
	</p>
	<p>
		If you go the route of spending time in these apps, you will inevitably become an addict! That's
		how these social media platforms are programmed, that's the only possible outcome of the
		business model behind them. The more time you spend there, the crazier you become, you lose
		touch with reality! And, in the end, if you conform with all the trends and bubbles, if you
		consume all the content without a touch of critical thinking, you will become a Zombie - a
		literal NPC Zombie! I bloody guarantee it! Fucking Sad, if you ask me!
	</p>

	<h3>Instead of Creating, You Spend Time on Promotion, Engagement and Consumption</h3>
	<p>
		This one is pretty self-explanatory, you are in the artistic business because you want to create
		and bring something delightful into this world, and of course you want people to see it,
		otherwise what's the point? You end your creative work, you post it and the cycle begins!
	</p>
	<p>
		After 5 minutes of posting, you begin thinking - I wonder how many people have liked it already,
		perhaps I gained some followers! You go look, and without warning an atomic bomb hits your mind
		- why is this post not being liked? How have I not gained a single follow? I thought it was
		good! Deep parts of your brain monitor your social standing, making you terrified of being left
		behind! I am telling you: These drugs are just way too powerfull, so want it or not, you will
		eventually end up in the loophole of: engage, consume, savour, repeat! That's the inevitable
		result of social media usage.
	</p>

	<h2>f = f (n,N,p)</h2>

	<p>
		<b>f</b> = the level of fakeness in a given social context;<br />
		<b>n</b> = the number of people in that context;<br />
		<b>N</b> = the total population who could potentially be in that context;<br />
		<b>p</b> = the proportion of people in that context who are "phake";
	</p>

	<p>
		Pretty straightforward! The more fake people there are, the more the bar for fakeness is raised
		and, as a result, the more people are compelled to be fake! Fake Posts! Fake Expressions! Fake
		Reactions! Fake Followers! Fake Society! It's like living in the <a
			href="https://en.wikipedia.org/wiki/Nosedive_(Black_Mirror)"
			target="_blank">Black Mirror "Nosedive" episode</a
		>, except in real life.
	</p>

	<h1>How About Some Solutions?</h1>

	<h4>SOLUTION 1: Create a Website</h4>
	<p>
		Create a website, post your creative stuff there (no likes, no comments, just art) the people
		truly interested in your creations will find it.
	</p>
	<p>
		When you go to a museum and see a painting you just see the painting, you don't see all the
		likes, dislikes, comments from all the people that have ever seen it... Although, I am afraid
		the world is kinda heading in that direction - AR and eventually brain implants might change
		that and it might bring a set of new dangers to be warry of.
	</p>
	<p>
		Point is, if they really want to comment on it, they can send you an email! No point in having
		comments!
	</p>

	<h4>SOLUTION 2: Choose 1 or 2 Platforms (ONLY)</h4>
	<p>
		Post and disappear! If it is found, it is found! If it is not, fuck it! Your life and health are
		more important! Who gives a fuck anyway... Just be yourself, and keep creating! If it's good,
		eventually people will find it!
	</p>

	<h4>SOLUTION 3: Get Out!</h4>
	<p>
		Quite literally! Just get out into the streets! Make friends, showcase your art, promote it in
		real life! Most of them have social media, if they end up loving it, they will promote it for
		you!
	</p>
	<p>
		I mean it, what if listening to your inner voice were to lead to deeper work, more meaningful
		works of art?
		<b>
			What if deeply reaching a small number of people mattered more than reaching everybody with
			nothing?
		</b>
		That's the question we must ask ourselves. It's not all about numbers! Don't judge a person by the
		amount of followers or likes they have - just look at their art! Let the art speak for itself! Numbers
		are a farce! People are real! Art is meaningful! Connection will lead to appreciation!
	</p>
	<h4>SOLUTION 4.2: Buy 🔥 Merch!</h4>
	<p>Check out my <a href="/merch">#quitsocialmedia merch</a></p>
</PostContent>
