@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
	--font-body: var(--light-font);
	--extra-light-font: 'hk-extra-light', Arial, sans-serif;
	--light-font: 'hk-light', Arial, sans-serif;
	--medium-font: 'hk-medium', Arial, sans-serif;
	--semi-bold-font: 'hk-semi-bold', Arial, sans-serif;
	--bold-font: 'hk-bold', Arial, sans-serif;

	--primary-color: #ffffff;
	--secondary-color: #101010;
	--tertiary-color: #101010;
	--accent-color: #101010;
	--accented-color: #630611;
	--heading-color: #101010;
	--discrete-color: #10101090;
	--text-color: #101010;
	--background-without-opacity: rgba(255, 255, 255, 0.7);

	--leftPadding: 15px;
	--rightPadding: 15px;

	--default-width: 350px;
	--default-list-gap: 20px;
	--default-spacing: 20px;
	--bigger-spacing: 24px;
	--default-padding: 24px;
	--default-border: solid 1px var(--secondary-color);
	--quote-border: solid 1px var(--secondary-color);
	--default-border-radius: 0px;
}

/* @media screen and (prefers-color-scheme: dark) { */
/* 	:root { */
/* 		--primary-color: #000000; */
/* 		--secondary-color: #ffffff; */
/* 		--tertiary-color: #ffffff; */
/* 		--accent-color: #ffffff; */
/* 		--accented-color: #630611; */
/* 		--heading-color: #ffffff; */
/* 		--discrete-color: #ffffff90; */
/* 		--text-color: #ffffff; */
/* 	} */
/* } */

body {
	background-color: var(--primary-color);
	line-height: 1.5;
	margin: 0px;
	font-family: var(--light-font);
	font-size: 16px;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	z-index: -1;
}

::-moz-selection { /* Code for Firefox */
	color: var(--primary-color);
	background: var(--accent-color);
}

::selection {
	color: var(--primary-color);
	background: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
span,
p {
	margin: 0;
	color: var(--heading-color);
}

h1 {
	font-size: 28px;
	font-weight: 100;
	font-family: var(--bold-font);
	margin-bottom: 16px;
}

h2 {
	font-size: 24px;
	font-weight: 100;
	font-family: var(--bold-font);
	margin-bottom: 16px;
}

h3 {
	font-size: 22px;
	font-weight: 100;
	font-family: var(--semi-bold-font);
	margin-bottom: 16px;
}

h4 {
	font-size: 20px;
	font-weight: 100;
	font-family: var(--medium-font);
	margin-bottom: 16px;
}

h5 {
	font-size: 18px;
	font-weight: 100;
	font-family: var(--medium-font);
	margin-bottom: 16px;
}

h6 {
 	font-size: 16px;
	font-weight: 100;
	font-family: var(--medium-font);
	margin-bottom: 16px;
}

p {
	font-family: var(--light-font);
	font-weight: 100;
	font-size: 16px;
	margin-bottom: 16px;
}

a {
	font-family: var(--semi-bold-font);
	font-weight: 100;
	font-size: 16px;
	color: var(--text-color);
	text-decoration: none;
	text-underline-offset: 0px;
}

a:hover {
	color: var(--accent-color);
	text-underline-offset: 4px;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

iframe {
	border: none;
}

ul {
	list-style-type: none;
}

.extra-light-font {
	font-family: var(--extra-light-font) !important;
}
.light-font {
	font-family: var(--light-font) !important;
}
.medium-font {
	font-family: var(--medium-font) !important;
}
.semi-bold-font {
	font-family: var(--semi-bold-font) !important;
}
.bold-font {
	font-family: var(--bold-font) !important;
}

.header {
	padding: var(--default-spacing) 0 var(--default-spacing) 0;
	border-bottom: 1px solid var(--secondary-color);
}

.header * {
	margin: 0;
	font-family: var(--light-font);
}

.spacer {
	height: var(--default-spacing);
}

.divider {
	border-bottom: 1px solid var(--secondary-color);
}

.dashedDivider {
	border-bottom: 1px dashed var(--secondary-color);
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.borderTop {
	border-top: var(--default-border);
}

.borderRight {
	border-right: var(--default-border);
}

.borderBottom {
	border-bottom: var(--default-border);
}

.borderLeft {
	border-left: var(--default-border);
}

.noMargin {
	margin: 0;
}

.zeroMargin * {
	margin: 0;
}

.zkMusicLinks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.zkMusicLinks a:hover {
	text-decoration-color: var(--primary-color) !important;
}

.zkSocialLinks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.zkLink {
	width: 100%;
	padding: 18px 16px 18px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	margin: 0px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid var(--secondary-color);
	cursor: pointer;
	text-decoration: none;
	transition: all 0.14s ease-out 0s;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-family: var(--light-font);
	line-height: 1 !important;
}

.zkLink:hover{
	transform: translate(-0.25rem, -0.25rem);
	box-shadow: var(--secondary-color) 0.25rem 0.25rem;
	background-color: var(--accent);
}

#follow-form {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	display: grid;
	grid-auto-flow: column;
	gap: 0.75rem;
	grid-template-columns: 1fr;
	grid-auto-columns: max-content;
	align-items: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

#button{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	background: transparent;
	font-size: 16px;
	padding: 0.75rem 1rem;
	border: 1px solid var(--secondary-color);
	color: var(--text-color);
	font-family: var(--light-font);
	grid-auto-flow: column;
	grid-auto-columns: minmax(0px, max-content);
	display: inline-grid;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.14s ease-out 0s;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

#button:hover{
	transform: translate(-0.25rem, -0.25rem);
	box-shadow: var(--secondary-color) 0.25rem 0.25rem;
	background-color: var(--accent);
	color: var(--contrast-accent);
}

#input{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	outline: none;
	font-family: var(--light-font);
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border: 1px solid var(--secondary-color);
	display: block;
	width: 100%;
	background-color: var(--primary-color);
	color: var(--text-color);
	--active-bg: #f4f4f0;
}

#input::placeholder{
	color: var(--discrete-color);
}

#input:focus-within{
	outline: var(--accent-color) solid 0.125rem;
}

#input:disabled{
	cursor: not-allowed;
	opacity: 0.3;
}

#input:read-only{
	background-color: var(--primary-color);
	color: var(--text-color);
}

#player {
	border: var(--default-border) !important;
}

@media screen and (max-width: 350px) {
	:root {
		--default-width: 92%;
	}
}
