:root {
	font-family: 'HK Guise', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
	--primary-color: #ffffff;
	--secondary-color: #101010;
	--tertiary-color: #101010;
	--accent-color: #101010;
	--accented-color: #630611;
	--heading-color: #101010;
	--discrete-color: #10101090;
	--text-color: #101010;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--extra-light-font: 'hk-extra-light';
	--light-font: 'hk-light';
	--medium-font: 'hk-medium';
	--semi-bold-font: 'hk-semi-bold';
	--bold-font: 'hk-bold';
	--default-spacing: 20px;
	--bigger-spacing: 24px;
}

body {
	background-color: #ffffff;
	line-height: 1.4;
	margin: 0px;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	z-index: -1;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: var(--accent-color);
}

::selection {
  color: #ffffff;
  background: var(--accent-color);
}

img {
	pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	color: var(--heading-color);
}

h1 {
	font-size: 44px;
	font-family: 'hk-bold';
	margin-bottom: 12px;
}

h2 {
	font-size: 24px;
	font-family: 'hk-bold';
	margin-bottom: 12px;
}

h3 {
	font-size: 20px;
	font-family: var(--semi-bold-font);
	margin-bottom: 12px;
}

h4 {
	font-size: 17px;
	font-family: var(--medium-font);
	margin-bottom: 12px;
}

h5 {
	font-size: 16px;
	font-family: var(--medium-font);
	margin-bottom: 8px;
}

p {
	font-family: var(--light-font);
	font-size: 16px;
}

a {
	font-family: 'hk-semi-bold';
	color: var(--text-color);
	text-decoration: none;
	text-underline-offset: 0px;
}

a:hover {
	color: var(--accent-color);
	text-underline-offset: 4px;
	text-decoration-line: underline;
	text-decoration-style: wavy;
}

ul {
	list-style-type: none;
}

.spacer {
	height: var(--default-spacing);
}

.zkLink {
	height: 37px;
	padding: 8px 16px 6px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	font-family: var(--light-font);
	font-size: 16px;
}

.zkLink span {
	margin: 0;
}

#follow-form {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	display: grid;
	grid-auto-flow: column;
	gap: 0.75rem;
	grid-template-columns: 1fr;
	grid-auto-columns: max-content;
	align-items: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

#button{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	background: transparent;
	font-size: 16px;
	padding: 0.75rem 1rem;
	border: 1px solid var(--secondary-color);
	color: var(--text-color);
	font-family: var(--light-font), sans-serif;
	grid-auto-flow: column;
	grid-auto-columns: minmax(0px, max-content);
	display: inline-grid;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.14s ease-out 0s;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

#button:hover{
	transform: translate(-0.25rem, -0.25rem);
	box-shadow: var(--secondary-color) 0.25rem 0.25rem;
	background-color: var(--accent);
	color: var(--contrast-accent);
}

#input{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 0px;
	outline: none;
	font-family: var(--light-font), sans-serif;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border: 1px solid var(--secondary-color);
	display: block;
	width: 100%;
	background-color: var(--primary-color);
	color: var(--text-color);
	--active-bg: #f4f4f0;
}
#input::placeholder{
	color: var(--discrete-color);
}
#input:focus-within{
	outline: var(--accent-color) solid 0.125rem;
}
#input:disabled{
	cursor: not-allowed;
	opacity: 0.3;
}
#input:read-only{
	background-color: var(--primary-color);
	color: var(--text-color);
}
